html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 2px solid #ccc;
    height: 75px;

}

/* Navitagion */
.main-nav {
    display: flex;
    list-style-type: none;
    margin: auto;
    width: 960px;
    height: 75px;
}

.main-nav li:first-child {
    margin-right: auto;
}

li {
    border-right: 1px solid #777;
}

li:first-child {
    border-right: none;
}

li:last-child {
    border-right: none;
}

.main-nav a {
    margin: 0;
    color: #777;
    display: block;
    padding: 30px;
    text-decoration: none;
}
.main-nav a:hover {
   background-color: #999;
   margin: 0;
   display: block;
   padding: 30px;
   text-decoration: none;
}
.main-nav .logo {
    margin: 0;
    Color: white;
    height: 35px;
    background-color: #4aaaa5;
    padding: 20px;
}
ul{
    padding: 0;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
li:first-child{
    padding: 0;
}

/* Content */
main {
    flex: auto;
    background-image: url('../images/what-the-hex.png');
}

.content {
    display: inline-block;
    background-color: white;
    width: 900px;
    border: 1px solid #ddd;
    margin: 5% auto;
    padding: 30px;
}

hr {
    color: #ddd;
}

.flextext {
    display: flex;
    flex-direction: column;
}

.description {
    margin: 0 0 10px;
    padding: 0;
    float: left;
}
me{
    float: left;
}
footer {
    background-color: #666;
    color: white;
    height: 25px;
    padding-top: 60px;
    border-top: 8px solid #4aaaa5;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: auto;
    align-content: space-around;
}
.hilight {
    font-family: Helvetica, Verdana;
    font-size: 16px;
    color: #FFF;
    background-color: #4aaaa5;
    height: 35px;
    width: 100%;
    opacity: 0.85;
    bottom: 0px;
    z-index: 2;
    position: relative;
    top: -35%;
}
form{
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    align-items: baseline;
}
label{
    float: left; 
    width: 6em; 
    text-align: right;
}
textarea, input {
    width: 300px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:required{
    background-color: yellow;
}
fieldset > ul >li{
      list-style-type: none;
}